<!--Sección de blog-noticias-->
<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h3><i class="far fa-images"></i> Portal de Noticias</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <% lista.forEach(function(prod) { %>
            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card">
                    <img class="card-img-top" src="https://picsum.photos/200/150/?random">
                    <div class="card-block">
                        <h4 class="card-title mt-3">Título: <%= prod.titulo %></h4>
                        <div class="card-text">
                                <%= prod.descripcion %>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small><%= prod.fecha %></small>
                        <a class="btn btn-secondary float-right btn-sm" href="/blog/detalle/<%= prod._id%>">Leer</a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <script>

    </script>